@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@300&display=swap');
$fontS:'Comfortaa',
cursive;
$fontR:'Roboto',
sans-serif;
button {
    cursor: pointer;
}
body {
    max-width: 1920px;
    margin: 0;
    header {
        margin: 120px 129px 0 322px;
        background: url(./image/bgsection.png) no-repeat center;
        background-position: bottom right;
    }
    .mav--menu {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: $fontS;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .logo {
            font-family: $fontR;
        }
        .icons__fonts {
            min-width: 150px;
            padding-right: 100px;
            a {
                color: #6AC359;
                font-size: 40px;
                .fa-viber {
                    transition: ease 400ms;
                    &:hover {
                        transition: ease 400ms;
                        color: #583EBC;
                    }
                }
                .fa-telegram {
                    transition: ease 400ms;
                    &:hover {
                        transition: ease 400ms;
                        color: #4E96D4;
                    }
                }
                .fa-whatsapp {
                    transition: ease 400ms;
                    &:hover {
                        transition: ease 400ms;
                        color: #00E676;
                    }
                }
            }
        }
        p {
            font-weight: 400;
            color: #00000098;
            font-size: 12px;
        }
        a {
            font-family: Comfortaa;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.1em;
            color: #1C1C1C;
            margin-top: 10px;
            text-decoration: none;
        }
    }
    .head--flex {
        display: flex;
        img {
            padding-left: 150px;
        }
    }
    .head {
        font-family: $fontS;
        font-size: 24px;
        font-weight: 400;
        button {
            text-transform: uppercase;
            cursor: pointer;
            width: 370px;
            height: 65px;
            border-radius: 10px;
            font-weight: 400;
            font-size: 20px;
            font-family: $fontS;
            color: #F6F6F6;
            background-color: #3C3734;
            border: none;
            transition: ease 500ms;
            &:hover {
                background-color: #529b43;
                transition: ease 300ms;
            }
        }
        h1 {
            span {
                text-transform: uppercase;
                font-weight: 600;
            }
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 140%;
            letter-spacing: 0.175em;
            text-transform: uppercase;
            color: #344F28;
            font-size: 48px;
            font-family: 'Roboto Mono',
            monospace;
            font-weight: 400;
        }
        p {
            width: 686px;
            height: 170px;
            left: 306px;
            top: 513px;
            font-family: Comfortaa;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 135%;
            letter-spacing: 0.265em;
            color: rgba(0, 0, 0, 0.69);
            mix-blend-mode: normal;
        }
    }
}
.information {
    margin: 120px 304px 0 322px;
    h1 {
        margin: 0 auto;
        padding-bottom: 166px;
        padding-top: 166px;
        width: 1002px;
        height: 40px;
        left: 459px;
        top: 1142px;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.1em;
        color: #000000;
    }
    button {
        border: none;
        width: 571px;
        height: 66px;
        background: #3C3734;
        border-radius: 10px;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 135%;
        text-align: center;
        letter-spacing: 0.265em;
        color: #F7F7F7;
        transition: ease 500ms;
        &:hover {
            background-color: #529b43;
            transition: ease 300ms;
        }
    }
    .information-1 {
        display: flex;
        justify-content: space-around;
        h2 {
            width: 565px;
            height: 42px;
            left: 1045px;
            top: 1348px;
            font-family: Comfortaa;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 31px;
            letter-spacing: 0.1em;
            color: #000000;
        }
        p {
            font-family: Comfortaa;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 33px;
            letter-spacing: 0.1em;
            color: rgba(0, 0, 0, 0.7);
        }
        .qeqe {
            display: flex;
            flex-direction: column;
        }
    }
    .information-2 {
        padding-top: 166px;
        display: flex;
        justify-content: space-around;
        h2 {
            width: 565px;
            height: 42px;
            left: 1045px;
            top: 1348px;
            font-family: Comfortaa;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 31px;
            letter-spacing: 0.1em;
            color: #000000;
        }
        p {
            font-family: Comfortaa;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 33px;
            letter-spacing: 0.1em;
            color: rgba(0, 0, 0, 0.7);
        }
    }
    .information-3 {
        padding-top: 166px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        h2 {
            width: 565px;
            height: 42px;
            left: 1045px;
            top: 1348px;
            font-family: Comfortaa;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 31px;
            letter-spacing: 0.1em;
            color: #000000;
        }
        p {
            font-family: Comfortaa;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 33px;
            letter-spacing: 0.1em;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}
.Information--company {
    margin: 0 230px 0 124px;
    display: flex;
    padding-top: 166px;
    justify-content: center;
    align-items: flex-end;
    img {
        padding-left: 63px;
    }
    .inajrm {
        .content__info {
            margin-left: 500;
            width: 880px;
            height: 700px;
            background: #D6E780;
            border-radius: 10px;
            p {
                padding: 185px 0 0 86px;
                font-family: Comfortaa;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 33px;
                letter-spacing: 0.1em;
                color: rgba(0, 0, 0, 0.7);
            }
            .poz {
                padding-top: 36px;
            }
            button {
                margin: 30px 0 0 86px;
                border: none;
                width: 498px;
                height: 64px;
                left: 315px;
                top: 3566px;
                background: #3C3734;
                border-radius: 10px;
                font-family: Comfortaa;
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                line-height: 135%;
                text-align: center;
                letter-spacing: 0.265em;
                color: #F7F7F7;
                transition: ease 500ms;
                &:hover {
                    background-color: #529b43;
                    transition: ease 300ms;
                }
            }
        }
    }
}
.sponsors {
    margin-top: 95px;
    padding-top: 65px;
    background: #F9F7EE;
    .sponsors__name__row1 {
        display: flex;
        justify-content: center;
        margin: 0 0 0 84px;
        img {
            margin-right: 80px;
        }
    }
    .sponsors__name__row2 {
        display: flex;
        justify-content: center;
        margin: 64px 129px 0 322px;
        margin-left: 210px;
        img {
            margin-right: 80px;
        }
    }
    .sponsors__name__row3 {
        display: flex;
        justify-content: center;
        margin: 64px 129px 0 322px;
        padding-bottom: 70px;
        margin-left: 210px;
        img {
            margin-right: 80px;
        }
    }
}
.registration {
    margin: 0 0 0 212px;
    display: flex;
    margin-top: 127px;
    margin-bottom: 181px;
    .info__registration {
        border-radius: 10px 0 0 10px;
        img {
            position: relative;
            bottom: 4.1rem;
            right: 2.4px;
        }
        .text {
            position: relative;
            bottom: 775px;
            left: 396px;
        }
        h1 {
            // margin-left: 396px;
            // margin-top: 102px;
            margin-bottom: 56px;
            font-family: Comfortaa;
            font-size: 38px;
            line-height: 162.5%;
            letter-spacing: 0.25em;
            color: #EEEEEE;
        }
        p {
            // margin-left: 393px;
            // margin-bottom: 154px;
            font-family: Comfortaa;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.25em;
            color: #DFDFDF;
        }
        width: 834px;
        height: 800px;
        background: #3C3734;
    }
    .registration__windous {
        border-radius: 0 10px 10px 0;
        width: 650px;
        height: 800px;
        background: rgba(173, 208, 0, 0.5);
    }
    .registration__windous {
        display: flex;
        flex-direction: column;
        .in1 {
            margin-top: 0;
            margin-top: 145px;
        }
        button {
            margin-left: 52px;
            width: 369px;
            height: 70px;
            border: none;
            border-radius: 10px;
            background: #3C3734;
            transition: ease 500ms;
            &:hover {
                background-color: #529b43;
                transition: ease 300ms;
            }
            p {
                font-family: Comfortaa;
                font-size: 20px;
                line-height: 135%;
                text-align: center;
                letter-spacing: 0.265em;
                color: #F7F7F7;
            }
        }
        input {
            margin: 0 52px 43px 52px;
            padding: 34px;
            font-size: 18px;
            background: #D6E780;
            border: 3px solid rgba(60, 55, 52, 0.8);
            border-radius: 10px;
            &::placeholder {
                font-family: Comfortaa;
                line-height: 130%;
                letter-spacing: 0.1em;
                color: #3C3734;
            }
        }
    }
}
.footerbg {
    width: 100%;
    height: 592px;
    background: #3C3734;
    .all__info {
        padding-top: 84px;
        margin: 0 261px 0 265px;
        display: flex;
        justify-content: space-between;
        .row1__info {
            display: flex;
            flex-direction: column;
            a {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                text-decoration: none;
                font-family: Comfortaa;
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 0.1em;
                color: #E3E3E3;
            }
        }
        .row2__info {
            flex-direction: column;
            display: flex;
            a {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                padding-bottom: 1rem;
                text-decoration: none;
                font-family: Comfortaa;
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 0.1em;
                color: #E3E3E3;
            }
        }
        .row3__info {
            flex-direction: column;
            display: flex;
            a {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                padding-bottom: 1rem;
                text-decoration: none;
                font-family: Comfortaa;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 22px;
                letter-spacing: 0.1em;
                color: #C4C4C4;
            }
        }
        .row4__info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            a {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                text-decoration: none;
                font-family: Comfortaa;
                font-size: 20px;
                line-height: 22px;
                letter-spacing: 0.1em;
                color: #C4C4C4;
            }
            span {
                padding:  2rem 0 1.5rem 0;
                a {
                    color: #6AC359;
                    font-size: 40px;
                    .fa-viber {
                        transition: ease 400ms;
                        &:hover {
                            transition: ease 400ms;
                            color: #583EBC;
                        }
                    }
                    .fa-telegram {
                        transition: ease 400ms;
                        &:hover {
                            transition: ease 400ms;
                            color: #4E96D4;
                        }
                    }
                    .fa-whatsapp {
                        transition: ease 400ms;
                        &:hover {
                            transition: ease 400ms;
                            color: #00E676;
                        }
                    }
                }
            }
        }
        h1 {
            font-family: Comfortaa;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.1em;
            color: #F7F7F7;
        }
        p {
            font-family: Comfortaa;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.1em;
            color: #C4C4C4;
        }
    }
}