@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@300&display=swap");
button {
  cursor: pointer;
}

body {
  max-width: 1920px;
  margin: 0;
}
body header {
  margin: 120px 129px 0 322px;
  background: url(./image/bgsection.png) no-repeat center;
  background-position: bottom right;
}
body .mav--menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Comfortaa", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .mav--menu .logo {
  font-family: "Roboto", sans-serif;
}
body .mav--menu .icons__fonts {
  min-width: 150px;
  padding-right: 100px;
}
body .mav--menu .icons__fonts a {
  color: #6AC359;
  font-size: 40px;
}
body .mav--menu .icons__fonts a .fa-viber {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
}
body .mav--menu .icons__fonts a .fa-viber:hover {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
  color: #583EBC;
}
body .mav--menu .icons__fonts a .fa-telegram {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
}
body .mav--menu .icons__fonts a .fa-telegram:hover {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
  color: #4E96D4;
}
body .mav--menu .icons__fonts a .fa-whatsapp {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
}
body .mav--menu .icons__fonts a .fa-whatsapp:hover {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
  color: #00E676;
}
body .mav--menu p {
  font-weight: 400;
  color: #00000098;
  font-size: 12px;
}
body .mav--menu a {
  font-family: Comfortaa;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #1C1C1C;
  margin-top: 10px;
  text-decoration: none;
}
body .head--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .head--flex img {
  padding-left: 150px;
}
body .head {
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  font-weight: 400;
}
body .head button {
  text-transform: uppercase;
  cursor: pointer;
  width: 370px;
  height: 65px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  color: #F6F6F6;
  background-color: #3C3734;
  border: none;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}
body .head button:hover {
  background-color: #529b43;
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}
body .head h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: #344F28;
  font-size: 48px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
body .head h1 span {
  text-transform: uppercase;
  font-weight: 600;
}
body .head p {
  width: 686px;
  height: 170px;
  left: 306px;
  top: 513px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: 0.265em;
  color: rgba(0, 0, 0, 0.69);
  mix-blend-mode: normal;
}

.information {
  margin: 120px 304px 0 322px;
}
.information h1 {
  margin: 0 auto;
  padding-bottom: 166px;
  padding-top: 166px;
  width: 1002px;
  height: 40px;
  left: 459px;
  top: 1142px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #000000;
}
.information button {
  border: none;
  width: 571px;
  height: 66px;
  background: #3C3734;
  border-radius: 10px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 135%;
  text-align: center;
  letter-spacing: 0.265em;
  color: #F7F7F7;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}
.information button:hover {
  background-color: #529b43;
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}
.information .information-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.information .information-1 h2 {
  width: 565px;
  height: 42px;
  left: 1045px;
  top: 1348px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 0.1em;
  color: #000000;
}
.information .information-1 p {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.7);
}
.information .information-1 .qeqe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.information .information-2 {
  padding-top: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.information .information-2 h2 {
  width: 565px;
  height: 42px;
  left: 1045px;
  top: 1348px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 0.1em;
  color: #000000;
}
.information .information-2 p {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.7);
}
.information .information-3 {
  padding-top: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.information .information-3 h2 {
  width: 565px;
  height: 42px;
  left: 1045px;
  top: 1348px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 0.1em;
  color: #000000;
}
.information .information-3 p {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.7);
}

.Information--company {
  margin: 0 230px 0 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 166px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.Information--company img {
  padding-left: 63px;
}
.Information--company .inajrm .content__info {
  margin-left: 500;
  width: 880px;
  height: 700px;
  background: #D6E780;
  border-radius: 10px;
}
.Information--company .inajrm .content__info p {
  padding: 185px 0 0 86px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.7);
}
.Information--company .inajrm .content__info .poz {
  padding-top: 36px;
}
.Information--company .inajrm .content__info button {
  margin: 30px 0 0 86px;
  border: none;
  width: 498px;
  height: 64px;
  left: 315px;
  top: 3566px;
  background: #3C3734;
  border-radius: 10px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 135%;
  text-align: center;
  letter-spacing: 0.265em;
  color: #F7F7F7;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}
.Information--company .inajrm .content__info button:hover {
  background-color: #529b43;
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}

.sponsors {
  margin-top: 95px;
  padding-top: 65px;
  background: #F9F7EE;
}
.sponsors .sponsors__name__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 84px;
}
.sponsors .sponsors__name__row1 img {
  margin-right: 80px;
}
.sponsors .sponsors__name__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 64px 129px 0 322px;
  margin-left: 210px;
}
.sponsors .sponsors__name__row2 img {
  margin-right: 80px;
}
.sponsors .sponsors__name__row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 64px 129px 0 322px;
  padding-bottom: 70px;
  margin-left: 210px;
}
.sponsors .sponsors__name__row3 img {
  margin-right: 80px;
}

.registration {
  margin: 0 0 0 212px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 127px;
  margin-bottom: 181px;
}
.registration .info__registration {
  border-radius: 10px 0 0 10px;
  width: 834px;
  height: 800px;
  background: #3C3734;
}
.registration .info__registration img {
  position: relative;
  bottom: 4.1rem;
  right: 2.4px;
}
.registration .info__registration .text {
  position: relative;
  bottom: 775px;
  left: 396px;
}
.registration .info__registration h1 {
  margin-bottom: 56px;
  font-family: Comfortaa;
  font-size: 38px;
  line-height: 162.5%;
  letter-spacing: 0.25em;
  color: #EEEEEE;
}
.registration .info__registration p {
  font-family: Comfortaa;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.25em;
  color: #DFDFDF;
}
.registration .registration__windous {
  border-radius: 0 10px 10px 0;
  width: 650px;
  height: 800px;
  background: rgba(173, 208, 0, 0.5);
}
.registration .registration__windous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.registration .registration__windous .in1 {
  margin-top: 0;
  margin-top: 145px;
}
.registration .registration__windous button {
  margin-left: 52px;
  width: 369px;
  height: 70px;
  border: none;
  border-radius: 10px;
  background: #3C3734;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}
.registration .registration__windous button:hover {
  background-color: #529b43;
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}
.registration .registration__windous button p {
  font-family: Comfortaa;
  font-size: 20px;
  line-height: 135%;
  text-align: center;
  letter-spacing: 0.265em;
  color: #F7F7F7;
}
.registration .registration__windous input {
  margin: 0 52px 43px 52px;
  padding: 34px;
  font-size: 18px;
  background: #D6E780;
  border: 3px solid rgba(60, 55, 52, 0.8);
  border-radius: 10px;
}
.registration .registration__windous input::-webkit-input-placeholder {
  font-family: Comfortaa;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: #3C3734;
}
.registration .registration__windous input::-moz-placeholder {
  font-family: Comfortaa;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: #3C3734;
}
.registration .registration__windous input:-ms-input-placeholder {
  font-family: Comfortaa;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: #3C3734;
}
.registration .registration__windous input::-ms-input-placeholder {
  font-family: Comfortaa;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: #3C3734;
}
.registration .registration__windous input::placeholder {
  font-family: Comfortaa;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: #3C3734;
}

.footerbg {
  width: 100%;
  height: 592px;
  background: #3C3734;
}
.footerbg .all__info {
  padding-top: 84px;
  margin: 0 261px 0 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footerbg .all__info .row1__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footerbg .all__info .row1__info a {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-decoration: none;
  font-family: Comfortaa;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #E3E3E3;
}
.footerbg .all__info .row2__info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footerbg .all__info .row2__info a {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-bottom: 1rem;
  text-decoration: none;
  font-family: Comfortaa;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #E3E3E3;
}
.footerbg .all__info .row3__info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footerbg .all__info .row3__info a {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-bottom: 1rem;
  text-decoration: none;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #C4C4C4;
}
.footerbg .all__info .row4__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footerbg .all__info .row4__info a {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-decoration: none;
  font-family: Comfortaa;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #C4C4C4;
}
.footerbg .all__info .row4__info span {
  padding: 2rem 0 1.5rem 0;
}
.footerbg .all__info .row4__info span a {
  color: #6AC359;
  font-size: 40px;
}
.footerbg .all__info .row4__info span a .fa-viber {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
}
.footerbg .all__info .row4__info span a .fa-viber:hover {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
  color: #583EBC;
}
.footerbg .all__info .row4__info span a .fa-telegram {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
}
.footerbg .all__info .row4__info span a .fa-telegram:hover {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
  color: #4E96D4;
}
.footerbg .all__info .row4__info span a .fa-whatsapp {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
}
.footerbg .all__info .row4__info span a .fa-whatsapp:hover {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
  color: #00E676;
}
.footerbg .all__info h1 {
  font-family: Comfortaa;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #F7F7F7;
}
.footerbg .all__info p {
  font-family: Comfortaa;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #C4C4C4;
}